ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2E2520;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  body {
    background-color: #FEF3E4;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 123px;
    padding-right: 123px;
  }
}

.section__title {
  font-family: Caveat Brush;
}
@media screen and (max-width: 767px) {
  .section__title {
    text-align: center;
  }
}
@media screen and (max-width: 1279px) {
  .section__title {
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 36px;
    line-height: 1.43;
  }
}

.header__container {
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__container {
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.header__title {
  margin-top: 30px;
  margin-bottom: 8px;
  font-family: Caveat Brush;
  font-size: 30px;
  line-height: 1.27;
}
@media screen and (min-width: 768px) {
  .header__title {
    margin-top: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    font-size: 64px;
    line-height: 1.02;
  }
}

.header__subtitle {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1280px) {
  .header__subtitle {
    font-size: 24px;
    line-height: 1.21;
  }
}

.logo {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 8px;
    margin-right: auto;
    margin-left: auto;
  }
}

.logo__icon {
  fill: #2E2520;
}
@media screen and (max-width: 1279px) {
  .logo__icon {
    width: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .logo__icon {
    width: 158px;
  }
}

@media screen and (max-width: 1279px) {
  .nav {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1279px) {
  .nav__item:not(:last-child) {
    margin-bottom: 45px;
  }
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: #2E2520;
}
@media screen and (max-width: 1279px) {
  .nav__link {
    font-size: 24px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1280px) {
  .nav__link {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (max-width: 1279px) {
  .nav-menu__container {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 25px 65px;
    background-color: rgba(254, 243, 228, 0.9);
  }
}
@media screen and (min-width: 1280px) {
  .nav-menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-menu__container.is-open {
  display: block;
}

.nav-menu__button {
  position: absolute;
  z-index: 20;
  top: 16px;
  right: 20px;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  fill: #2E2520;
  cursor: pointer;
}
.nav-menu__button .nav-menu__icon-close {
  display: none;
}
.nav-menu__button.is-open .nav-menu__icon-close {
  display: block;
}
.nav-menu__button.is-open .nav-menu__icon-menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .nav-menu__button {
    display: none;
  }
}
.nav-menu__button:hover, .nav-menu__button:focus {
  fill: #876655;
}

.submit-button {
  border-radius: 25px;
  padding: 8px 47px;
  min-width: 145px;
  border: 0px solid transparent;
  background-color: #AB816C;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.28;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.submit-button:hover, .submit-button:focus {
  background-color: #876655;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .social__list {
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__icon {
  fill: #2E2520;
}
.social__icon:hover, .social__icon:focus {
  fill: #876655;
}/*# sourceMappingURL=main.css.map */