.social__list {
    display: flex;

    @include for-phone-only {
        margin-top: 40px;
        justify-content: center;        
    }
}

.social__item:not(:last-child) {
    margin-right: 16px;
}

.social__icon {
    fill: $primary-text-color;
    &:hover,
    &:focus {
       fill: $accent-color;
    }
}