$primary-bg-color: #FFFFFF;
$desctop-bg-color: #FEF3E4;
$nav-menu-bg-color: rgba(254, 243, 228, 0.9);
$secondary-bg-color: #AB816C;


$primary-text-color: #2E2520;
$button-text-color: #FFFFFF;
$secondary-text-color: #000000;

$icon-color: #674D40;

$accent-color: #876655;

$title-font: Caveat Brush;