$primary-bg-color: #FFFFFF;
$desctop-bg-color: #FEF3E4;
$nav-menu-bg-color: rgba(254, 243, 228, 0.9);
$secondary-bg-color: #AB816C;


$primary-text-color: #2E2520;
$button-text-color: #FFFFFF;

$accent-color: #876655;